<nav class="navbar">
    <ul class="navbar-nav">
      <li class="logo">
        <a class="nav-link">
          <span class="link-text logo-text">Imagefier</span>
          <svg width="254" height="253" viewBox="0 0 254 253" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_d)">
            <rect width="66.362" height="71.8595" rx="33.181" transform="matrix(-0.0204279 0.999791 -0.999848 -0.017413 249.987 12.8593)" fill="#C018FB"/>
            </g>
            <g filter="url(#filter1_d)">
            <rect width="66.362" height="71.8595" rx="33.181" transform="matrix(-0.0204279 0.999791 -0.999848 -0.017413 234.187 178.76)" fill="url(#paint0_linear)"/>
            </g>
            <path d="M211.7 35.7829C170.856 61.7404 94.2666 153.698 194.822 213.254" stroke="url(#paint1_linear)" stroke-width="50"/>
            <g filter="url(#filter2_d)">
            <rect width="66.695" height="71.5505" rx="33.3475" transform="matrix(0.279863 -0.960829 0.969873 0.240892 0.340454 227.702)" fill="#C018FB"/>
            </g>
            <g filter="url(#filter3_d)">
            <rect width="66.695" height="71.5505" rx="33.3475" transform="matrix(0.279863 -0.960829 0.969873 0.240892 59.0562 70.234)" fill="url(#paint2_linear)"/>
            </g>
            <path d="M43.701 204.765C86.4315 189.366 177.215 120.856 102.409 45.7113" stroke="url(#paint3_linear)" stroke-width="50"/>
            <g filter="url(#filter4_d)">
            <rect width="70.5262" height="67.7771" rx="33.8886" transform="matrix(0.882395 -0.47051 0.530175 0.847888 53.1791 34.1771)" fill="url(#paint4_linear)"/>
            </g>
            <defs>
            <filter id="filter0_d" x="173.454" y="12.1806" width="79.8627" height="74.4541" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
            <feOffset dy="4"/>
            <feGaussianBlur stdDeviation="2"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
            </filter>
            <filter id="filter1_d" x="157.653" y="178.081" width="79.8627" height="74.4541" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
            <feOffset dy="4"/>
            <feGaussianBlur stdDeviation="2"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
            </filter>
            <filter id="filter2_d" x="4.34488" y="170.653" width="80.0515" height="75.2511" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
            <feOffset dy="4"/>
            <feGaussianBlur stdDeviation="2"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
            </filter>
            <filter id="filter3_d" x="63.0606" y="13.1852" width="80.0515" height="75.2511" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
            <feOffset dy="4"/>
            <feGaussianBlur stdDeviation="2"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
            </filter>
            <filter id="filter4_d" x="62.1583" y="12.8051" width="80.2074" height="75.0281" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
            <feOffset dy="4"/>
            <feGaussianBlur stdDeviation="2"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
            </filter>
            <linearGradient id="paint0_linear" x1="33.181" y1="0" x2="33.181" y2="71.8595" gradientUnits="userSpaceOnUse">
            <stop stop-color="#18A0FB"/>
            <stop offset="1" stop-color="#18A0FB"/>
            </linearGradient>
            <linearGradient id="paint1_linear" x1="177.35" y1="36.3915" x2="180.488" y2="213.508" gradientUnits="userSpaceOnUse">
            <stop stop-color="#C018FB"/>
            <stop offset="1" stop-color="#18A0FB"/>
            </linearGradient>
            <linearGradient id="paint2_linear" x1="33.3475" y1="0" x2="33.3475" y2="71.5505" gradientUnits="userSpaceOnUse">
            <stop stop-color="#18A0FB"/>
            <stop offset="1" stop-color="#18A0FB"/>
            </linearGradient>
            <linearGradient id="paint3_linear" x1="74.4129" y1="211.248" x2="109.057" y2="47.1144" gradientUnits="userSpaceOnUse">
            <stop stop-color="#C018FB"/>
            <stop offset="1" stop-color="#18A0FB"/>
            </linearGradient>
            <linearGradient id="paint4_linear" x1="35.2631" y1="0" x2="35.2631" y2="67.7771" gradientUnits="userSpaceOnUse">
            <stop stop-color="#721493"/>
            <stop offset="1" stop-color="#987676" stop-opacity="0.94"/>
            </linearGradient>
            </defs>
            </svg>
        </a>
      </li>

      <li class="nav-item">
        <a [routerLink]="['/home']" routerLinkActive="router-link-active"  class="nav-link">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="brain" class="svg-inline--fa fa-brain fa-w-18 fa-primary" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M208 0c-29.9 0-54.7 20.5-61.8 48.2-.8 0-1.4-.2-2.2-.2-35.3 0-64 28.7-64 64 0 4.8.6 9.5 1.7 14C52.5 138 32 166.6 32 200c0 12.6 3.2 24.3 8.3 34.9C16.3 248.7 0 274.3 0 304c0 33.3 20.4 61.9 49.4 73.9-.9 4.6-1.4 9.3-1.4 14.1 0 39.8 32.2 72 72 72 4.1 0 8.1-.5 12-1.2 9.6 28.5 36.2 49.2 68 49.2 39.8 0 72-32.2 72-72V64c0-35.3-28.7-64-64-64zm368 304c0-29.7-16.3-55.3-40.3-69.1 5.2-10.6 8.3-22.3 8.3-34.9 0-33.4-20.5-62-49.7-74 1-4.5 1.7-9.2 1.7-14 0-35.3-28.7-64-64-64-.8 0-1.5.2-2.2.2C422.7 20.5 397.9 0 368 0c-35.3 0-64 28.6-64 64v376c0 39.8 32.2 72 72 72 31.8 0 58.4-20.7 68-49.2 3.9.7 7.9 1.2 12 1.2 39.8 0 72-32.2 72-72 0-4.8-.5-9.5-1.4-14.1 29-12 49.4-40.6 49.4-73.9z"></path></svg>
          <span class="link-text">Home</span>
        </a>
      </li>

      <li class="nav-item">
        <a [routerLink]="['/image']" routerLinkActive="router-link-active"  class="nav-link">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="image" class="svg-inline--fa fa-image fa-w-16 fa-primary" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M464 448H48c-26.51 0-48-21.49-48-48V112c0-26.51 21.49-48 48-48h416c26.51 0 48 21.49 48 48v288c0 26.51-21.49 48-48 48zM112 120c-30.928 0-56 25.072-56 56s25.072 56 56 56 56-25.072 56-56-25.072-56-56-56zM64 384h384V272l-87.515-87.515c-4.686-4.686-12.284-4.686-16.971 0L208 320l-55.515-55.515c-4.686-4.686-12.284-4.686-16.971 0L64 336v48z"></path></svg>
          <span class="link-text">Image</span>
        </a>
      </li>


      <li class="nav-item">
        <a [routerLink]="['/video']" routerLinkActive="router-link-active"  class="nav-link">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="video" class="svg-inline--fa fa-video fa-w-18 fa-primary" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M336.2 64H47.8C21.4 64 0 85.4 0 111.8v288.4C0 426.6 21.4 448 47.8 448h288.4c26.4 0 47.8-21.4 47.8-47.8V111.8c0-26.4-21.4-47.8-47.8-47.8zm189.4 37.7L416 177.3v157.4l109.6 75.5c21.2 14.6 50.4-.3 50.4-25.8V127.5c0-25.4-29.1-40.4-50.4-25.8z"></path></svg>
          <span class="link-text">Video</span>
        </a>
      </li>

      <li class="nav-item" id="themeButton">
        <a class="nav-link" *ngIf="getTheme()">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="sun" class="svg-inline--fa fa-sun fa-w-16 fa-primary" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 160c-52.9 0-96 43.1-96 96s43.1 96 96 96 96-43.1 96-96-43.1-96-96-96zm246.4 80.5l-94.7-47.3 33.5-100.4c4.5-13.6-8.4-26.5-21.9-21.9l-100.4 33.5-47.4-94.8c-6.4-12.8-24.6-12.8-31 0l-47.3 94.7L92.7 70.8c-13.6-4.5-26.5 8.4-21.9 21.9l33.5 100.4-94.7 47.4c-12.8 6.4-12.8 24.6 0 31l94.7 47.3-33.5 100.5c-4.5 13.6 8.4 26.5 21.9 21.9l100.4-33.5 47.3 94.7c6.4 12.8 24.6 12.8 31 0l47.3-94.7 100.4 33.5c13.6 4.5 26.5-8.4 21.9-21.9l-33.5-100.4 94.7-47.3c13-6.5 13-24.7.2-31.1zm-155.9 106c-49.9 49.9-131.1 49.9-181 0-49.9-49.9-49.9-131.1 0-181 49.9-49.9 131.1-49.9 181 0 49.9 49.9 49.9 131.1 0 181z"></path></svg>    
        </a>
        <a class="nav-link" *ngIf="!getTheme()">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="moon" class="svg-inline--fa fa-moon fa-w-16 fa-primary" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M283.211 512c78.962 0 151.079-35.925 198.857-94.792 7.068-8.708-.639-21.43-11.562-19.35-124.203 23.654-238.262-71.576-238.262-196.954 0-72.222 38.662-138.635 101.498-174.394 9.686-5.512 7.25-20.197-3.756-22.23A258.156 258.156 0 0 0 283.211 0c-141.309 0-256 114.511-256 256 0 141.309 114.511 256 256 256z"></path></svg>
        </a>
      </li>
    </ul>
  </nav>